<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="5;url=http://localhost:4567/" >
    <title>Death</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="shortcut icon" href="../images/header_image.ico"/>
  </head>
  <body class = death_background>
    <section class = death_page>
      </br></br></br>
      DEATH
      </br></br>
      <%= @owner.name %> was eaten
      <br/>
      by the <%= @animal.species %>, <%= @animal.name %>.
      </br></br>
      He was not worthy
    <section>
  </body>
</html>
