<!DOCTYPE html>
<html>
<head>
  <title>Steeds</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="shortcut icon" href="../images/header_image.ico"/>
</head>
<body class = home_background>
    <ul class = "nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/animals">Mounts</a>
      </li>
      <li>
        <a href="/owners">Owners</a>
      </li>
      <li>
        <a href="/adoptions">Adoptions</a>
      </li>
    </ul>
  <section id="content">
  <%= yield %>
  </section>
</body>
</html>
