<!DOCTYPE html>
<html>
<head>
  <title>Steeds</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link rel="shortcut icon" href="../images/header_image.ico"/>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/animals">Animals</a>
      </li>
      <li>
        <a href="/owners">Owners</a>
      </li>
      <li>
        <a href="/adoptions">Adoptions</a>
      </li>
      <li>
        <a href="/adoptions/new">Mount a Steed!</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
</body>
</html>
