<h1>Adoptions</h1>

<% for adoption in @adoptions %>
  <p><%= adoption.animal.name %> the <%= adoption.animal.species %> </p>
  <p>adopted by:</p>
  <p><%= adoption.owner.name %></p>
  <form action="/adoptions/<%= adoption.id %>/delete" method="POST">
      <input type="submit" value="delete"/>
  </form>
<% end %>
