/* MENU */

.nav {
  list-style:none;
  margin:20px;
  padding:0;
  text-align:center;
}

label {
 font-family: Helvetica, Verdana, sans-serif;
 margin: 5;
 padding: 5;
}

ul {
  display: block;
  overflow: auto
}

li {
 border-right: 1px solid #aaa;
 padding: 20px;
 display: inline;
}

li:last-child {
 border-right: none;
}

li a {
 text-decoration: none;
 color: #222222;
 font: 20px/1 Helvetica, Verdana, sans-serif;
 text-transform: uppercase;
 margin-left: 20px;
 margin-right: 20px
}

li a:hover {
 color: #666;
}

/* OTHER STUFF */

.home_background {
  background: url(../images/griffin_front_page.png) no-repeat;
  background-size: 100%;
}

p {
   font-family: Helvetica, Verdana, sans-serif;
   margin: 20px;
   margin-bottom: 10px;
   margin-top: 10px;
   padding: 2px;
}

form {
   font-family: Helvetica, Verdana, sans-serif;
   margin-left: 20px;
}

h1 {
  margin-left: 20px;
  font-family: Helvetica, Verdana, sans-serif;
}
