<h1>Animals</h1>

<% for animal in @animals %>
  <p><%= animal.name %> the <%= animal.species %></p>
  <p>Admitted <%= animal.admission_date %></p>
  <p>Available for adoption: <%= animal.ready_to_adopt %></p>
<% end %>
